{% load static %}

<div class="dz-search-area dz-offcanvas offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        &times;
    </button>
    <div class="container">
        <form class="header-item-search">
            <div class="input-group search-input">
                <select class="default-select">
                    <option>All Categories</option>
                    <option>Clothes</option>
                    <option>UrbanSkirt</option>
                    <option>VelvetGown</option>
                    <option>LushShorts</option>
                    <option>Vintage</option>
                    <option>Wedding</option>
                    <option>Cotton</option>
                    <option>Linen</option>
                    <option>Navy</option>
                    <option>Urban</option>
                    <option>Business Meeting</option>
                    <option>Formal</option>
                </select>
                <input type="search" class="form-control" placeholder="Search Product">
                <button class="btn" type="button">
                    <i class="iconly-Light-Search"></i>
                </button>
            </div>
            <ul class="recent-tag">
                <li class="pe-0"><span>Quick Search :</span></li>
                <li><a href="shop-list.html">Clothes</a></li>
                <li><a href="shop-list.html">UrbanSkirt</a></li>
                <li><a href="shop-list.html">VelvetGown</a></li>
                <li><a href="shop-list.html">LushShorts</a></li>
            </ul>
        </form>
        <div class="row">
            <div class="col-xl-12">
                <h5 class="mb-3">You May Also Like</h5>
                <div class="swiper category-swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="shop-card">
                                <div class="dz-media ">
                                    <img src="{% static 'pages/images/shop/product/1.png' %}" alt="image">
                                </div>
                                <div class="dz-content">
                                    <h6 class="title"><a href="shop-list.html">SilkBliss Dress</a></h6>
                                    <h6 class="price">$40.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="shop-card">
                                <div class="dz-media ">
                                    <img src="{% static 'pages/images/shop/product/3.png' %}" alt="image">
                                </div>
                                <div class="dz-content">
                                    <h6 class="title"><a href="shop-list.html">GlamPants</a></h6>
                                    <h6 class="price">$30.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="shop-card">
                                <div class="dz-media ">
                                    <img src="{% static 'pages/images/shop/product/4.png' %}" alt="image">
                                </div>
                                <div class="dz-content">
                                    <h6 class="title"><a href="shop-list.html">ComfyLeggings</a></h6>
                                    <h6 class="price">$35.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="shop-card">
                                <div class="dz-media ">
                                    <img src="{% static 'pages/images/shop/product/2.png' %}" alt="image">
                                </div>
                                <div class="dz-content">
                                    <h6 class="title"><a href="shop-list.html">ClassicCapri</a></h6>
                                    <h6 class="price">$20.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="shop-card">
                                <div class="dz-media ">
                                    <img src="{% static 'pages/images/shop/product/5.png' %}" alt="image">
                                </div>
                                <div class="dz-content">
                                    <h6 class="title"><a href="shop-list.html">DapperCoat</a></h6>
                                    <h6 class="price">$70.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="shop-card">
                                <div class="dz-media ">
                                    <img src="{% static 'pages/images/shop/product/6.png' %}" alt="image">
                                </div>
                                <div class="dz-content">
                                    <h6 class="title"><a href="shop-list.html">ComfyLeggings</a></h6>
                                    <h6 class="price">$45.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="shop-card">
                                <div class="dz-media ">
                                    <img src="{% static 'pages/images/shop/product/7.png' %}" alt="image">	
                                </div>
                                <div class="dz-content">
                                    <h6 class="title"><a href="shop-list.html">DenimDream Jeans</a></h6>
                                    <h6 class="price">$40.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="shop-card">
                                <div class="dz-media ">
                                    <img src="{% static 'pages/images/shop/product/4.png' %}" alt="image">	
                                </div>
                                <div class="dz-content">
                                    <h6 class="title"><a href="shop-list.html">SilkBliss Dress</a></h6>
                                    <h6 class="price">$60.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>