{% load static %}

<div class="sticky-header main-bar-wraper navbar-expand-lg">
    <div class="main-bar clearfix">
        <div class="container-fluid clearfix d-lg-flex d-block">
            
            <!-- Website Logo -->
            <div class="logo-header logo-dark me-md-5">
                <a href="index.html"><img src="{% static 'pages/images/logo.svg' %}" alt="logo"></a>
            </div>
            
            <!-- Nav Toggle Button -->
            <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
        
            <!-- Main Nav -->
            <div class="header-nav w3menu navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                <div class="logo-header logo-dark">
                    <a href="index.html"><img src="{% static 'pages/images/logo.svg' %}" alt=""></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="has-mega-menu sub-menu-down auto-width menu-left">
                        <a href="javascript:void(0);"><span>Home</span><i class="fas fa-chevron-down tabindex" ></i></a>
                        <div class="mega-menu ">
                            <ul class="demo-menu mb-0">
                                <li>
                                    <a href="index.html">
                                        <img src="{% static 'pages/images/demo/demo-1.png' %}" alt="/">
                                        <span class="menu-title">01 Home Page</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index-2.html">
                                        <img src="{% static 'pages/images/demo/demo-2.png' %}" alt="/">
                                        <span class="menu-title">02 Home Page</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index-3.html">
                                        <img src="{% static 'pages/images/demo/demo-3.png' %}" alt="/">
                                        <span class="menu-title">03 Home Page</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-mega-menu sub-menu-down">
                        <a href="javascript:void(0);"><span>Shop</span><i class="fas fa-chevron-down tabindex" ></i></a>
                        <div class="mega-menu shop-menu">
                            <ul>
                                <li class="side-left">
                                    <ul>
                                        <li><a href="javascript:void(0);" class="menu-title">Shop Structure</a>
                                            <ul>
                                                <li><a href="shop-standard.html">Shop Standard</a></li>
                                                <li><a href="shop-list.html">Shop List</a></li>
                                                <li><a href="shop-with-category.html">Shop With Category</a></li>
                                                <li><a href="shop-filters-top-bar.html">Shop Filters Top Bar</a></li>
                                                <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                                <li><a href="shop-style-1.html">Shop Style 1</a></li>
                                                <li><a href="shop-style-2.html">Shop Style 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);" class="menu-title">Product Structure</a>
                                            <ul>
                                                <li><a href="product-default.html">Default</a></li>
                                                <li><a href="product-thumbnail.html">Thumbnail</a></li>
                                                <li><a href="product-grid-media.html">Grid Media</a></li>
                                                <li><a href="product-carousel.html">Carousel</a></li>
                                                <li><a href="product-full-width.html">Full Width</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:void(0);" class="menu-title">Shop Pages</a>
                                            <ul>						
                                                <li><a href="shop-wishlist.html">Wishlist</a></li>
                                                <li><a href="shop-cart.html">Cart</a></li>
                                                <li><a href="shop-checkout.html">Checkout</a></li>
                                                <li><a href="shop-compare.html">Compare</a></li>
                                                <li><a href="shop-order-tracking.html">Order Tracking</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="registration.html">Registration</a></li>
                                            <li><a href="forget-password.html">Forget Password </a></li>
                                            </ul>
                                        </li>
                                        <li class="month-deal">
                                            <div class="clearfix me-3">
                                                <h3>Deal of the month</h3>
                                                <p class="mb-0">Yes! Send me exclusive offers, personalised, and unique gift ideas, tips for shopping on Pixio <a href="shop-standard.html" class="dz-link-2">View All Products</a></p>
                                            </div>
                                            <div class="sale-countdown">
                                                <div class="countdown text-center">
                                                    <div class="date">
                                                        <span class="time days text-primary"></span>
                                                        <span class="work-time">Days</span>
                                                    </div>
                                                    <div class="date">
                                                        <span class="time hours text-primary"></span>
                                                        <span class="work-time">Hours</span>
                                                    </div>
                                                    <div class="date">
                                                        <span class="time mins text-primary"></span>
                                                        <span class="work-time">Minutess</span>
                                                    </div>
                                                    <div class="date">
                                                        <span class="time secs text-primary"></span>
                                                        <span class="work-time">Second</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="side-right">
                                    <div class="adv-media">
                                        <img src="{% static 'pages/images/adv-1.png' %}" alt="/">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-mega-menu sub-menu-down auto-width">
                        <a href="javascript:void(0);"><span>Blog</span><i class="fas fa-chevron-down tabindex"></i></a>
                        <div class="mega-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Blog Dark Style</a>
                                    <ul>
                                        <li><a href="blog-dark-2-column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-dark-2-column-sidebar.html">Blog 2 Column Sidebar</a></li>
                                        <li><a href="blog-dark-3-column.html">Blog 3 Column</a></li>
                                        <li><a href="blog-dark-half-image.html">Blog Half Image</a></li>
                                    </ul>
                                    <a href="javascript:void(0);" class="menu-title">Blog Light Style</a>
                                    <ul>
                                        <li><a href="blog-light-2-column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-light-2-column-sidebar.html">Blog 2 Column Sidebar</a></li>
                                        <li><a href="blog-light-half-image.html">Blog Half Image</a></li>
                                        <li><a href="blog-exclusive.html">Blog Exclusive</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Blog List Sidebar</a>
                                    <ul>
                                        <li><a href="blog-list-no-sidebar.html">No Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="blog-list-left-sidebar.html">left Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="blog-list-right-sidebar.html">Right Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="blog-list-both-sidebar.html">Both Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                    </ul>
                                    <a href="javascript:void(0);" class="menu-title">Blog Grid Sidebar</a>
                                    <ul>
                                        <li><a href="blog-grid-no-sidebar.html">No Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="blog-grid-left-sidebar.html">left Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="blog-grid-right-sidebar.html">Right Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="blog-grid-both-sidebar.html">Both Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="blog-grid-wide-sidebar.html">Wide Sidebar <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Blog Page</a>
                                    <ul>
                                        <li><a href="blog-archive.html">Blog Archive</a></li>
                                        <li><a href="blog-author.html">Author</a></li>
                                        <li><a href="blog-category.html">Blog Category</a></li>
                                        <li><a href="blog-tag.html">Blog Tag</a></li>
                                    </ul>
                                </li>
                                <li class="post-menu">
                                    <a href="javascript:void(0);" class="menu-title">Recent Posts</a>
                                    <div class="widget widget_post pt-2">
                                        <ul>
                                            <li>
                                                <div class="dz-media">
                                                    <img src="{% static 'pages/images/shop/product/small/1.png' %}" alt="">
                                                </div>
                                                <div class="dz-content">
                                                    <h6 class="name"><a href="post-standard.html">Cozy Knit Cardigan Sweater</a></h6>
                                                    <span class="time">July 23, 2024</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dz-media">
                                                    <img src="{% static 'pages/images/shop/product/small/2.png' %}" alt="">
                                                </div>
                                                <div class="dz-content">
                                                    <h6 class="name"><a href="post-standard.html">Sophisticated Swagger Suit</a></h6>
                                                    <span class="time">July 23, 2024</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dz-media">
                                                    <img src="{% static 'pages/images/shop/product/small/3.png' %}" alt="">
                                                </div>
                                                <div class="dz-content">
                                                    <h6 class="name"><a href="post-standard.html">Athletic Mesh Sports Leggings</a></h6>
                                                    <span class="time">July 23, 2024</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dz-media">
                                                    <img src="{% static 'pages/images/shop/product/small/4.png' %}" alt="">
                                                </div>
                                                <div class="dz-content">
                                                    <h6 class="name"><a href="post-standard.html">Satin Wrap Party Blouse</a></h6>
                                                    <span class="time">July 23, 2024</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-mega-menu sub-menu-down auto-width">
                        <a href="javascript:void(0);"><span>Post Layout</span><i class="fas fa-chevron-down tabindex"></i></a>
                        <div class="mega-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Post Types</a>
                                    <ul>
                                        <li><a href="post-text.html">Text Post <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="post-image.html">Image Post <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="post-video.html">Video Post</a></li>
                                        <li><a href="post-link.html">Link Post</a></li>
                                        <li><a href="post-audio.html">Audio Post</a></li>
                                        <li><a href="post-quote.html">Post Quote</a></li>
                                        <li><a href="post-tutorial.html">Tutorial Post <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                        <li><a href="post-cateloge.html">Cateloge Post <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Multiple Media</a>
                                    <ul>	
                                        <li><a href="post-banner.html">Banner</a></li>
                                        <li><a href="post-slide-show.html">Slider</a></li>
                                        <li><a href="post-gallery.html">Gallery</a></li>
                                        <li><a href="post-status.html">Status Slider <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                    </ul>
                                    <a href="javascript:void(0);" class="menu-title">Post Layout Type</a>
                                    <ul>	
                                        <li><a href="post-standard.html">Standard Post</a></li>
                                        <li><a href="post-corner.html">Corner Post</a></li>
                                        <li><a href="post-side.html">Side Post <div class="badge badge-sm rounded badge-animated">New</div></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Side Bar</a>
                                    <ul>
                                        <li><a href="post-left-sidebar.html">Left Sidebar</a></li>
                                        <li><a href="post-right-sidebar.html">Right Sidebar</a></li>
                                        <li><a href="post-both-sidebar.html">Both Sidebar</a></li>
                                        <li><a href="post-no-sidebar.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-mega-menu sub-menu-down">
                        <a href="javascript:void(0);"><span>Portfolio</span><i class="fas fa-chevron-down tabindex"></i></a>
                        <div class="mega-menu portfolio-menu">
                            <ul>
                                <li class="side-left">
                                    <ul class="portfolio-nav-link">
                                        <li>
                                            <a href="portfolio-tiles.html">
                                                <img src="{% static 'pages/images/portfolio/icons/portfolio-tiles.svg' %}" alt="/">
                                                <span>Portfolio Tiles</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="collage-style-1.html">
                                                <img src="{% static 'pages/images/portfolio/icons/collage-style-1.svg' %}" alt="/">
                                                <span>Collage Style 1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="collage-style-2.html">
                                                <img src="{% static 'pages/images/portfolio/icons/collage-style-2.svg' %}" alt="/">
                                                <span>Collage Style 2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="masonry-grid.html">
                                                <img src="{% static 'pages/images/portfolio/icons/masonry-grid.svg' %}" alt="/">
                                                <span>Masonry Grid</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cobble-style-1.html">
                                                <img src="{% static 'pages/images/portfolio/icons/cobble-style-1.svg' %}" alt="/">
                                                <span>Cobble Style 1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cobble-style-2.html">
                                                <img src="{% static 'pages/images/portfolio/icons/cobble-style-2.svg' %}" alt="/">
                                                <span>Cobble Style 2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://pixio.dexignzone.com/xhtml/portfolio-thumbs-slider.html">
                                                <img src="{% static 'pages/images/portfolio/icons/portfolio-thumbs-slider.svg' %}" alt="/">
                                                <span>Portfolio Thumbs Slider</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="portfolio-film-strip.html">
                                                <img src="{% static 'pages/images/portfolio/icons/portfolio-film-strip.svg' %}" alt="/">
                                                <span>Portfolio Film Strip</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="carousel-showcase.html">
                                                <img src="{% static 'pages/images/portfolio/icons/carousel-showcase.svg' %}" alt="/">
                                                <span>Carousel Showcase</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="portfolio-split-slider.html">
                                                <img src="{% static 'pages/images/portfolio/icons/portfolio-split-slider.svg' %}" alt="/">
                                                <span>Portfolio Split Slider</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="side-right line-left">
                                    <a href="javascript:void(0);" class="menu-title">Portfolio Details</a>
                                    <ul>
                                        <li><a href="portfolio-details-1.html">Portfolio Details 1</a></li>
                                        <li><a href="portfolio-details-2.html">Portfolio Details 2</a></li>
                                        <li><a href="portfolio-details-3.html">Portfolio Details 3</a></li>
                                        <li><a href="portfolio-details-4.html">Portfolio Details 4</a></li>
                                        <li><a href="portfolio-details-5.html">Portfolio Details 5</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="has-mega-menu sub-menu-down wide-width">
                        <a href="javascript:void(0);"><span>Pages</span><i class="fas fa-chevron-down tabindex"></i></a>
                        <div class="mega-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Pages</a>
                                    <ul>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="about-me.html">About Me</a></li>
                                        <li><a href="pricing-table.html">Pricing Table</a></li>
                                        <li><a href="our-gift-vouchers.html">Our Gift Vouchers</a></li>
                                        <li><a href="what-we-do.html">What We Do</a></li>
                                        <li><a href="faqs-1.html">Faqs 1</a></li>
                                        <li><a href="faqs-2.html">Faqs 2</a></li>
                                        <li><a href="our-team.html">Our Team</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Contact Us</a>
                                    <ul>
                                        <li><a href="contact-us-1.html">Contact Us 1</a></li>
                                        <li><a href="contact-us-2.html">Contact Us 2</a></li>
                                        <li><a href="contact-us-3.html">Contact Us 3</a></li>
                                    </ul>
                                    <a href="javascript:void(0);" class="menu-title">Web Pages</a>
                                    <ul>
                                        <li><a href="blog-left-sidebar.html">Error 404 1</a></li>
                                        <li><a href="error-2.html">Error 404 2</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                        <li><a href="under-construction.html">Under Construction</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Banner Style</a>
                                    <ul>						
                                        <li><a href="banner-with-bg-color.html">Banner with BG Color</a></li>
                                        <li><a href="banner-with-image.html">Banner with Image</a></li>
                                        <li><a href="banner-with-video.html">Banner with Video</a></li>
                                        <li><a href="banner-with-kanbern.html">Banner with Kanbern</a></li>
                                        <li><a href="banner-small.html">Banner Small</a></li>
                                        <li><a href="banner-medium.html">Banner Medium</a></li>
                                        <li><a href="banner-large.html">Banner Large</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Header Style</a>
                                    <ul>
                                        <li><a href="header-style-1.html">Header Style 1</a></li>
                                        <li><a href="header-style-2.html">Header Style 2</a></li>
                                        <li><a href="header-style-3.html">Header Style 3</a></li>
                                        <li><a href="header-style-4.html">Header Style 4</a></li>
                                        <li><a href="header-style-5.html">Header Style 5</a></li>
                                        <li><a href="header-style-6.html">Header Style 6</a></li>
                                        <li><a href="header-style-7.html">Header Style 7</a></li>
                                        <li class="w3menulink"><a href="w3menu.html">Menu Styles</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Footer Style</a>
                                    <ul>
                                        <li><a href="footer-style-1.html">Footer Style 1</a></li>
                                        <li><a href="footer-style-2.html">Footer Style 2</a></li>
                                        <li><a href="footer-style-3.html">Footer Style 3</a></li>
                                        <li><a href="footer-style-4.html">Footer Style 4</a></li>
                                        <li><a href="footer-style-5.html">Footer Style 5</a></li>
                                        <li><a href="footer-style-6.html">Footer Style 6</a></li>
                                        <li><a href="footer-style-7.html">Footer Style 7</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-title">Dashboard</a>
                                    <ul>
                                        <li><a href="account-dashboard.html">Dashboard</a></li>
                                        <li><a href="account-orders.html">Orders</a></li>
                                        <li><a href="account-order-details.html">Orders Details</a></li>
                                        <li><a href="account-order-confirmation.html">Orders Confirmation</a></li>
                                        <li><a href="account-downloads.html">Downloads</a></li>
                                        <li><a href="account-return-request.html">Return Request</a></li>
                                        <li><a href="account-return-request-detail.html">Return Request Detail</a></li>
                                        <li><a href="account-refund-requests-confirmed.html">Return Request Confirmed</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sub-menu-down">
                        <a href="javascript:void(0);"><span>My Account</span> <i class="fas fa-chevron-down tabindex"></i></a>
                        <ul class="sub-menu">						
                            <li><a href="account-dashboard.html">Dashboard</a></li>
                            <li><a href="account-orders.html">Orders</a></li>
                            <li><a href="account-order-details.html">Orders Details</a></li>
                            <li><a href="account-order-confirmation.html">Orders Confirmation</a></li>
                            <li><a href="account-downloads.html">Downloads</a></li>
                            <li><a href="account-return-request.html">Return Request</a></li>
                            <li><a href="account-return-request-detail.html">Return Request Detail</a></li>
                            <li><a href="account-refund-requests-confirmed.html">Return Request Confirmed</a></li>
                            <li><a href="account-profile.html">Profile</a></li>
                            <li><a href="account-address.html">Address</a></li>
                            <li><a href="account-shipping-methods.html">Shipping methods</a></li>
                            <li><a href="account-payment-methods.html">Payment Methods</a></li>
                            <li><a href="account-review.html">Review</a></li>
                            <li><a href="account-billing-address.html">Billing address</a></li>
                            <li><a href="account-shipping-address.html">Shipping address</a></li>
                            <li><a href="account-cancellation-requests.html">Cancellation Requests</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="dz-social-icon">
                    <ul>
                        <li><a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/dexignzone"></a></li>
                        <li><a class="fab fa-twitter" target="_blank" href="https://twitter.com/dexignzones"></a></li>
                        <li><a class="fab fa-linkedin-in" target="_blank" href="https://www.linkedin.com/showcase/3686700/admin/"></a></li>
                        <li><a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/dexignzone/"></a></li>
                    </ul>
                </div>
            </div>
        
            <!-- EXTRA NAV -->
            <div class="extra-nav">
                <div class="extra-cell">						
                    <ul class="header-right">
                        <li class="nav-item login-link">
                            <a class="nav-link" href="login.html">
                                Login / Register
                            </a>
                        </li>
                        <li class="nav-item search-link">
                            <a class="nav-link" href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                                <i class="iconly-Light-Search"></i>
                            </a>
                        </li>
                        <li class="nav-item wishlist-link">
                            <a class="nav-link" href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                <i class="iconly-Light-Heart2"></i>
                            </a>
                        </li>
                        <li class="nav-item cart-link">
                            <a href="javascript:void(0);" class="nav-link cart-btn"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                <i class="iconly-Broken-Buy"></i>
                                <span class="badge badge-circle">5</span>
                            </a>
                        </li>
                        <li class="nav-item filte-link">
                            <a href="javascript:void(0);" class="nav-link filte-btn"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 13" fill="none">
                                    <rect y="11" width="30" height="2" fill="black"/>
                                    <rect width="30" height="2" fill="black"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>